:root {
    --tipografiaGeneral: 'Roboto', sans-serif;
    --colorAmarillo: #eac926;
    --colorAzul: #0044aa;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #7C7C7C;
    --colorGrisClaro: #ebebeb;
    --colorGrisSemiOscuro: #a8b3b7;
    --colorVerde: #39b54a;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  body {
    font-size: 12px;
    font-family: var(--tipografiaGeneral);
  }
  body.home {
    width: 100%;
    min-height: 100vh;
    background-color: #ebebeb;
  }
  
  .main {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .banner_img {
    width: 100%;
    display: block;
  }
  
  .main-section {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: var(--colorGrisClaro);
    align-items: flex-start;
  }
  
  .main-section h1 {
    padding: 15px 0;
    font-size: 1.375rem;
    white-space: nowrap;
    color: var(--colorGrisOscuro);
  }
  
  .main-section h2 {
    margin-bottom: 10px;
    font-size: 1.375rem;
    color: var(--colorGrisOscuro);
  }
  
  /* ARTÍCULOS */
  
  .section-article {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 1s ease;
  }
  
  .section-article:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .section-article_img {
    width: 70%;
  }
  
  .section-article_box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 15px;
    border-top: 1px solid #ebebeb;
    text-align: left;
  }
  
  /* CAMIÓN */
  
  .section-article_box-icono {
    position: absolute;
    right: 20px;
    top: -15px;
    width: 30px;
    height: 30px;
    display: block;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #39b54a;
    border-radius: 50%;
    color: var(--colorVerde);
    background-color: #ffffff;
  }
  
  .section-article_box-icono:hover {
    animation: rotate 1s linear;
    color: var(--colorCeleste);
    border: 1px solid var(--colorCeleste);
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* DETALLES DEL PRODUCTO */
  
  .section-article_precio {
    width: 30%;
    margin-bottom: 20px;
    font-size: 1rem;
  }
  
  .section-article_descuento {
    width: 70%;
    padding-left: 20px;
    font-size: 0.875rem;
    color: var(--colorVerde);
  }
  
  .section-article_descripcion {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--colorGrisOscuro);
  }
  
  /* TABLET */
  
  @media (min-width: 768px) {
    .main-section {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
    }
  
    .main-section h1,
    .main-section h2 {
      width: 100%;
      text-align: left;
    }
  
    .section-article {
      width: 45%;
    }
  
    .section-article {
      margin-bottom: 10px;
      transition: all 450ms;
    }
  
    .section-article:hover {
      box-shadow: 0px 0px 10px #646464;
    }
  
    .section-article h3 {
      height: 0;
      overflow: hidden;
      transition: all 1s ease;
    }
  
    .section-article:hover h3 {
      height: 20px;
    }
  }
  
  /* DESKTOP */
  
  @media (min-width: 1024px) {
    .section-article {
      width: 23%;
    }
  
    .main-section h1,
    .main-section h2 {
      text-align: left;
    }
  }
  
  .header {
    width: 100%;
    background-color: var(--colorAmarillo);
    display: flex;
    flex-wrap: wrap;
  }
  
  .header-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .header_logo {
    width: 50%;
    padding: 5px 10px 0 20px;
    margin-top: 20px;
    height: 30px;
  }
  
  .header-form_search-container {
    width: 50%;
    display: block;
    border-radius: 20px;
    position: relative;
    border: none;
  }
  
  .header-form_buscador {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 7px 20px 0 0px;
  }
  
  #header-form_input-search {
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 0.75rem;
  }
  
  .header-form_button {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 20.4px;
    top: 12px;
    border: none;
    background: none;
    height: 25px;
    width: 20px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
  }
  
  .fa-search {
    position: absolute;
    top: 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    color: #808080;
    padding: 0px 4px;
    background-color: #ffffff;
  }
  
  .header-lista_container {
    padding: 0 0 20px 20px;
  }
  
  /* MENSAJE & MENÚ VERTICAL */
  
  .header-mensaje {
    width: 100%;
    padding-top: 25px;
    text-align: center;
  }
  
  .header-mensaje_parrafo {
    white-space: nowrap;
  }
  
  .header-nav {
    height: 0;
    overflow: hidden;
    transition: all 2s ease;
  }
  
  .header-nav_link {
    font-size: 0.9rem;
  }
  
  .header-nav_link:hover {
    color: var(--colorAzul);
  }
  
  .header-nav_user {
    margin-top: 10px;
  }
  
  .header-nav_icono {
    margin-left: 5px;
  }
  
  /* MENÚ HAMBURGUESA */
  
  .button_burger {
    background-color: transparent;
    border: none;
  }
  
  .header-burger_menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }
  
  .showMenu {
    height: auto;
  }
  
  .header-burger_icono {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.375rem;
    color: var(--colorGrisClaro);
    background-color: var(--colorAzul);
  }
  
  /* TABLET */
  
  @media (min-width: 768px) {
    /* HEADER */
  
    .header {
      display: flex;
      justify-content: space-between;
    }
  
    .header-box {
      width: 66%;
    }
  
    .header_logo {
      width: 50%;
      margin-top: 10px;
    }
  
    .header-form_search-container {
      width: 50%;
    }
  
    .header-form_buscador {
      display: flex;
      margin-top: 20px;
      padding: 7px 20px 0 0px;
      align-items: center;
    }
  
    #header-form_input-search {
      height: 35px;
      padding-left: 5px;
      border-radius: 5px;
      border: none;
      font-size: 0.75rem;
    }
  
    .fa-search {
      right: 2px;
    }
  
    .header-mensaje {
      width: 33%;
      padding-top: 25px;
      display: flex;
      align-items: center;
      text-align: center;
    }
  
    /* HEADER - LINK */
  
    .header-lista_container {
      width: 100%;
      display: flex;
      padding: 0;
    }
  
    .header-nav {
      display: flex;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 10px;
      padding-left: 10px;
      height: auto;
      white-space: nowrap;
      transition: none;
      justify-content: space-between;
    }
  
    .header-nav_link {
      padding: 0 10px;
    }
  
    .header-nav_lista,
    .header-nav_user {
      display: flex;
    }
  
    .header-nav_user {
      display: flex;
      padding: 0 40px;
      margin: 0;
      white-space: nowrap;
    }
  
    .header-burger_menu {
      display: none;
    }
  }
  
  /* DESKTOP */
  
  @media (min-width: 1024px) {
    .header {
      font-size: 1rem;
    }
  
    .header-nav {
      margin-left: 20px;
      margin-top: 60px;
      display: flex;
    }
  }
  
  
  /*FOOTER*/
  .footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--colorGrisSemiOscuro);
    background-color: rgb(255, 255, 255);
    
  }
  
  .footer-section_icono {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    color: var(--colorCeleste);
  }
  
  .footer-section_icono:hover {
    color: #eac926;
  }
  
  .footer-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  
  .footer-section_descripcion {
    font-size: 1rem;
    color: var(--colorGrisOscuro);
  }
  
  .footer_copyright {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }
  
  @media (min-width: 1024px){
    .footer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    
    .footer-section {
      width: 30%;
      max-width: 250px;
      margin-bottom: 40px;
      padding: 10px;
    }
    
    .footer_copyright{
      margin-left: auto;
      margin-right: auto;
      font-size: 1rem;
      display: block;
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
    }
  }
  
  /* FORMULARIOS */
  
  .main-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ebebeb;
    padding-bottom: 20px;
  }
  
  .main-form_title {
    margin: 20px 0;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .form-contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  .form-contenedor_tittle {
    width: 180px;
    padding: 2px 0;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    background-color: var(--colorCeleste);
    white-space: nowrap;
  }
  
  .form-contenedor_label {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .form-contenedor_input {
    margin: 1px 10px 10px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 2px;
  }
  
  .form-contenedor_label a{
    color: #0000ff;
  }
  
  .form-contenedor_label a:hover{
    color: #267cf4
  }
  
  .button {
    margin: 15px 20px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
  }
  
  .button_enviar:hover {
    background-color: #0022AA;
    color: #ffffff;
  }
  
  .button_borrar:hover {
    background-color: #eac926;
    color: #000000;
  }
    